@charset "utf-8";
@import 'themes/theme.dark';
@import 'var';
@import 'mixin';

/**
 *	css 初始化
 */
*,
:after,
::before {
	@include prefixAttr(box-sizing,border-box);
}
@each $tag in $noMPTags {
	#{$tag} {
		margin: 0;
		padding: 0;
	} 
}
html{
	font-size: 625%;
}
body{
	font-size:12px;
	font-size: $baseFrontSize;
	color:$foreColor;
	background-color:#f1f1f1;
}

a{
	text-decoration: none;
}
@each $i in $linkStates{
	a.#{$i}{
		color:map-get($linkColors,$i);
	}
}

a img{
	border:none;
	outline: none;
}


input,textarea{
	padding:0 .05rem;

	outline: none;
	&[type="radio"],
	&[type="checkbox"]{
	    width: 1em;
	    height: 1em;
	    vertical-align: -.1em;
	    font-size: 1em;
	    padding:0;
	}


	&:not([type="radio"]):not([type="checkbox"]):not([type="file"]){
	    border: 1px solid #dedede;
	    &:hover,&:focus{
	    	border: 1px solid #A9A9A9;
	    }
	}

	&[type="number"]{
		padding-right: 0;
	}

}














ul,ol,dl{
	list-style: none;
	&:reset{
		list-style:initial;
	}
}
/* :focus{
	outline-color: #2196F3;
    outline-offset: -.01rem;
    outline-style: dashed;
    outline-width: .01rem;
} */