@charset "utf-8";
/**
 *    animate过渡效果定义
 */
@import 'animate';
/**
 *	app 样式定义
 */
@import 'app';
/**
 *	class 样式定义
 */
@import 'class';
/**
 *	插件定义 样式定义
 */
@import 'ui';


@font-face {
  font-family: 'poefont';  /* project id 255476 */
  src: url('//at.alicdn.com/t/font_255476_odgsy9eupplul3di.eot');
  src: url('//at.alicdn.com/t/font_255476_odgsy9eupplul3di.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_255476_odgsy9eupplul3di.woff') format('woff'),
  url('//at.alicdn.com/t/font_255476_odgsy9eupplul3di.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_255476_odgsy9eupplul3di.svg#poefont') format('svg');
}



.poefont,.pfont:before,.pfont:after{
    font-family:"poefont" !important;
    font-size:1.33em;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.poefont{
  &.mini{
    font-size:.83em;
  }
  &.small{
    font-size:1em;
  }
  &.medium{
    text-align:center;
    display: block;
    font-size:1.67em;
  }
  &.large{
    text-align:center;
    display: block;
    font-size:2em;
  }
}
.pfont{
  &.mini{
    &:after,&:before{
        font-size: .83em;
    }
  }
  &.small{
    &:after,&:before{
        font-size: 1em;
    }
  }
  &.medium{
    &:after,&:before{
        text-align:center;
        display: block;
      font-size:1.67em;
    }
  }
  &.large{
    &:after,&:before{
        text-align:center;
        display: block;
      font-size:2em;
    }
  }
}

.iconfont,.ifont:before,.ifont:after,[class*="icon-"]:before,[class*="-icon"]:after{
    font-family:"iconfont" !important;
    font-size:1.33em;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont{
  &.mini{
    font-size:.83em;
  }
  &.small{
    font-size:1em;
  }
  &.medium{
    text-align:center;
    display: block;
    font-size:1.67em;
  }
  &.large{
    text-align:center;
    display: block;
    font-size:2em;
  }
}
[class*="icon-"]{
  &.mini:before{
        font-size: .83em;
  }
  &.small:before{
        font-size: 1em;
  }
  &.medium:before{
    text-align:center;
    display: block;
    font-size:1.67em;
  }
  &.large:before{
    text-align:center;
    display: block;
    font-size:2em;
  }
}
[class*="-icon"]{
  &.mini:after{
    font-size: .83em;
  }
  &.small:after{
    font-size: 1em;
  }
  &.medium:after{
    text-align:center;
    display: block;
    font-size:1.67em;
  }
  &.large:after{
    text-align:center;
    display: block;
    font-size:2em;
  }
}